<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content">
        {{>header}}
        <h3>Help</h3>
    </div>
    
    {{>footer}}
</body>

</head>

</html>